body{
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
}

table{
    margin: auto;
}

canvas{
    border: 1px solid #000000;
}

.center{
    text-align: center;
}

.titlecard{
    border-bottom: 1px solid #bababa;
    margin-bottom: 5%;
}

#ctx{
    width: 1080px;
    height: 720px;
}

#main_box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#health_bar{
    left: 0px;
}
